.idea/
.vscode/
.agent/
.codex/

__pycache__/
*.pyc

tools/paper_test_data/
test_assets/input_images/backbone/
test_assets/input_images/input_img_vectorized/
test_assets/generated_images/
dataset/Fluffy_Brush/A-VAT_checkpoint/
dataset/Fluffy_Brush/S-VAT_checkpoint/

wandb/
logs/

#0_Training_data_for_AiS_1024/

*.log

checkpoints/
outputs/

*.pth
*.pt
*.ckpt